body {
  background-color: #1996da;
}

h2 {
  margin-top: 50px;
}

h2,
h3 {
  color: white;
  text-align: center;
}

p {
  color: #ddd;
  text-align: center;
}

section {
  /* height: 80px;
  width: 80px; */

  /* justify-content: center;
  align-items: center; */
  background-color: white;
  border-radius: 50%;
  margin: auto;
}

.symbol {
  /* width: 45%;
  margin: 30%; */
  flex-basis: calc(100% / 3);
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.lato-text {
  font-family: lato, serif;
  font-weight: 400;
}
